---

# set role/server group mappings

- name: "Configure user-prefs.conf [role_<name>] - state=present"
  ini_file: dest={{ splunk_conf_path }}/user-prefs.conf
            section=role_{{ item.role }}
            option="default_namespace"
            value={{ item.namespace }}
            state=present
  with_items: "{{ splunk_user_prefs_conf.roles }}"
  when: user_roles.{{ item.role }} is defined

- name: "Configure user-prefs.conf [role_<name>] - state=absent (default)"
  ini_file: dest={{ splunk_conf_path }}/user-prefs.conf
            section=role_{{ item.role }}
            option="default_namespace"
            state=absent
  with_items: "{{ splunk_user_prefs_conf.roles }}"
  when: user_roles.{{ item.role }} is undefined

